<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticationService" />
                <binding name="BasicHttpBinding_IResponseDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://[CheckboxUrl].checkboxonline.com/Services/AuthenticationService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService" contract="AuthService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
            <endpoint address="http://[CheckboxUrl].checkboxonline.com/Services/ResponseDataService.svc/soap" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponseDataService" contract="RespService.IResponseDataService" name="BasicHttpBinding_IResponseDataService" />
        </client>
    </system.serviceModel>
<connectionStrings><add name="SampleDatabaseEntities" connectionString="metadata=res://*/Models.SampleDatabaseModel.csdl|res://*/Models.SampleDatabaseModel.ssdl|res://*/Models.SampleDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=SampleDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>