<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticationService" />
                <binding name="BasicHttpBinding_IInvitationManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://[CheckboxURL]/Services/AuthenticationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
                contract="authService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
            <endpoint address="http://[CheckboxURL]/Services/InvitationManagementService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvitationManagementService"
                contract="invService.IInvitationManagementService" name="BasicHttpBinding_IInvitationManagementService" />
        </client>
    </system.serviceModel>
</configuration>