<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserManagementService" />
                <binding name="BasicHttpBinding_IUserManagementService11">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://[CUSTOMERURL].checkboxonline.com/services/UserManagementService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService"
                contract="UserManagementService.IUserManagementService" name="BasicHttpBinding_IUserManagementService" />
            <endpoint address="https://[CUSTOMERURL].checkboxonline.com/Services/AuthenticationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService11"
                contract="UserManagementService.IUserManagementService" name="BasicHttpBinding_IUserManagementService11" />
        </client>
    </system.serviceModel>
</configuration>