<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IInvitationManagementService" />
                <binding name="BasicHttpBinding_IAuthenticationService" />
              <binding name ="BasicHttpBinding_IAuthenticationService11">
                <security mode ="Transport" />
              </binding>
              <binding name ="BasicHttpBinding_IInvitationManagementService11">
                <security mode="Transport"/>
              </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://[CUSTOMERURL].checkboxonline.com/Services/AuthenticationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
                contract="AuthService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
            <endpoint address="http://[CUSTOMERURL].checkboxonline.com/Services/InvitationManagementService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInvitationManagementService"
                contract="InviteService.IInvitationManagementService" name="BasicHttpBinding_IInvitationManagementService" />
          <endpoint address="https://[CUSTOMERURL].checkboxonline.com/Services/AuthenticationService.svc/soap"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService11"
                contract="AuthService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService11" />
          <endpoint address="https://[CUSTOMERURL].checkboxonline.com/Services/InvitationManagementService.svc/soap"
                binding="basicHttpsBinding" bindingConfiguration="BasicHttpBinding_IInvitationManagementService11"
                contract="InviteService.IInvitationManagementService" name="BasicHttpBinding_IInvitationManagementService11" />
        </client>
    </system.serviceModel>
</configuration>