<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IResponseDataService" />
              <binding name="BasicHttpBinding_IResponseDataService11">
                <security mode="Transport"/>
              </binding>
              <binding name="BasicHttpBinding_IAuthenticationService" />
              <binding name="BasicHttpBinding_IAuthenticationService11">
                <security mode="Transport" />
              </binding>
            </basicHttpBinding>
        </bindings>
      <client>
        <endpoint address="http://[CUSTOMERURL].checkboxonline.com/Services/ResponseDataService.svc/soap"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponseDataService"
            contract="ResponseDataService.IResponseDataService" name="BasicHttpBinding_IResponseDataService" />
        <endpoint address="https://[CUSTOMERURL].checkboxonline.com/Services/ResponseDataService.svc/soap"
            binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IResponseDataService11"
            contract="ResponseDataService.IResponseDataService" name="BasicHttpBinding_IResponseDataService11" />
        <endpoint address="http://[CUSTOMERURL].checkboxonline.com/Services/AuthenticationService.svc?wsdl"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
      contract="AuthService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
        <endpoint address="https://[CUSTOMERURL].checkboxonline.com/AuthenticationService.svc/soap"
      binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService11"
      contract="AuthService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService11" />
      </client>
        
    </system.serviceModel>
</configuration>